{% extends "opp/layout_opp.html" %}

{% set lang = "en" %}
{% set alternativeHref = "/opp/cy/index.html" %}
{% set currentNav = "home" %}

{% block pageTitle %}My Local School — Welsh Government{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="opp-hero" style="padding-left: 30px; padding-right: 30px;">
      <div class="govuk-width-container">
        <h1 class="govuk-heading-xl opp-hero__heading">Find information about schools in Wales</h1>
        <p class="govuk-body-l opp-hero__intro">Search for any maintained school in Wales to see attendance, contextual data, learner outcomes and more.</p>

        <form action="/opp/en/search.html" method="get" class="opp-search-form">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="school-search">
              Search by school name, town or postcode
            </label>
            <div class="opp-search-form__row">
              <input class="govuk-input opp-search-form__input" id="school-search" name="q" type="text" placeholder="For example, Ysgol Gyfun Abercastell or CF83">
              <button class="govuk-button opp-search-form__button" data-module="govuk-button">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


{% endblock %}